<a href="https://colab.research.google.com/github/SandroPalhano/Desafio-001---Cumprido/blob/main/Poker_Resultados_Campeonato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tabela de Jogadores:

In [1]:
jogadores = [
    "Adriano", "André", "Charles", "Eduardo", "Fernanda", "Halina", "Israel", "Jean",
    "Juliana", "Júnior", "Liana", "Loana", "Mari", "Matheus", "Maycon", "Paulo",
    "Rafael", "Ricardo", "Rosangela", "Sandro", "Stella", "Vinicius", "Victor"
]

colunas = ["Jogo {:02d}".format(i) for i in range(1, 12)]

lista_jogadores = list(enumerate(sorted(jogadores, key=str.lower), start=1))

for jogador in lista_jogadores:
    print("{:02d}: {}".format(jogador[0], jogador[1]))

print("\nColunas:")
print(colunas)

01: Adriano
02: André
03: Charles
04: Eduardo
05: Fernanda
06: Halina
07: Israel
08: Jean
09: Juliana
10: Júnior
11: Liana
12: Loana
13: Mari
14: Matheus
15: Maycon
16: Paulo
17: Rafael
18: Ricardo
19: Rosangela
20: Sandro
21: Stella
22: Victor
23: Vinicius

Colunas:
['Jogo 01', 'Jogo 02', 'Jogo 03', 'Jogo 04', 'Jogo 05', 'Jogo 06', 'Jogo 07', 'Jogo 08', 'Jogo 09', 'Jogo 10', 'Jogo 11']

Agora uma tabela com o nome e os jogos de cada jogador...

In [57]:
jogadores = [
    "Adriano", "André", "Charles", "Eduardo", "Fernanda", "Halina", "Israel", "Jean",
    "Juliana", "Júnior", "Liana", "Loana", "Mari", "Matheus", "Maycon", "Paulo",
    "Rafael", "Ricardo", "Rosangela", "Sandro", "Stella", "Vinicius", "Victor","Edson"
]

colunas = ["    {:02d}".format(i) for i in range(1, 12)]

tabela = []
for i, jogador in enumerate(sorted(jogadores, key=str.lower), start=1):
    linha = [str(i).zfill(2), jogador] + [""] * 11
    tabela.append(linha)

for i in range(11):
    for j, linha in enumerate(tabela):
        linha[i + 2] = str(i + 1).zfill(2)

print("Núm.    Jogador ", end="")
for coluna in colunas:
    print(coluna, end="    ")
print()

for linha in tabela:
    print("{:7s} {:12s}".format(linha[0], linha[1]), end="")
    for i in range(5, 13):
        print("{:10s}".format(linha[i]), end="")
    print()

Núm.    Jogador     01        02        03        04        05        06        07        08        09        10        11
01      Adriano     04        05        06        07        08        09        10        11
02      André       04        05        06        07        08        09        10        11
03      Charles     04        05        06        07        08        09        10        11
04      Edson       04        05        06        07        08        09        10        11
05      Eduardo     04        05        06        07        08        09        10        11
06      Fernanda    04        05        06        07        08        09        10        11
07      Halina      04        05        06        07        08        09        10        11
08      Israel      04        05        06        07        08        09        10        11
09      Jean        04        05        06        07        08        09        10        11
10      Juliana     04        05        06        07        08        09        10        11
11      Júnior      04        05        06        07        08        09        10        11
12      Liana       04        05        06        07        08        09        10        11
13      Loana       04        05        06        07        08        09        10        11
14      Mari        04        05        06        07        08        09        10        11
15      Matheus     04        05        06        07        08        09        10        11
16      Maycon      04        05        06        07        08        09        10        11
17      Paulo       04        05        06        07        08        09        10        11
18      Rafael      04        05        06        07        08        09        10        11
19      Ricardo     04        05        06        07        08        09        10        11
20      Rosangela   04        05        06        07        08        09        10        11
21      Sandro      04        05        06        07        08        09        10        11
22      Stella      04        05        06        07        08        09        10        11
23      Victor      04        05        06        07        08        09        10        11
24      Vinicius    04        05        06        07        08        09        10        11

In [97]:
jogadores = [
    "Adriano", "André", "Charles", "Eduardo", "Fernanda", "Halina", "Israel", "Jean",
    "Juliana", "Júnior", "Liana", "Loana", "Mari", "Matheus", "Maycon", "Paulo",
    "Rafael", "Ricardo", "Rosangela", "Sandro", "Stella", "Vinicius", "Victor","Edson"
]

colunas = [" {:02d}".format(i) for i in range(1, 12)]

tabela = []
for i, jogador in enumerate(sorted(jogadores, key=str.lower), start=1):
    linha = [str(i).zfill(2), jogador] + [""] * 11
    tabela.append(linha)

print("{:<8s} {:<8s}".format("Núm", "Jogador"), end="")
for coluna in colunas:
    print("{:<6s}".format(coluna), end="")
print()
print()

for linha in tabela:
    print("{:<8s} {:<8s}".format(linha[0], linha[1]), end="")
    for i in range(2, 13):
        print("{:<8s}".format(linha[i]), end="")
    print('\n'*1)

Núm      Jogador  01    02    03    04    05    06    07    08    09    10    11

01       Adriano

02       André

03       Charles

04       Edson

05       Eduardo

06       Fernanda

07       Halina

08       Israel

09       Jean

10       Juliana

11       Júnior

12       Liana

13       Loana

14       Mari

15       Matheus

16       Maycon

17       Paulo

18       Rafael

19       Ricardo

20       Rosangela

21       Sandro

22       Stella

23       Victor

24       Vinicius